
/*header*/

@import 'vars';
@font-face {
    font-family: nimbus;
    src: url(/font/NIMBUS.ttf);
}


header {
    background-color: $colorPrincipal;
    padding: 100px;
    display: flex; 
    flex-direction:  row;
    justify-content:left;
    align-items: center;
    margin: 0%;
    grid-area: header;

.menu ul {
    display: flex;
    list-style: none;
    gap: 50px;
   li a {
        text-decoration: none; color: white; font-family: $fonttitulo
    }
    a {
        font-family:nimbus;
    }
}

}
