/*variables*/

$colorPrincipal: #6A5ACD;
$colorSecundario: #9ACD32;
$colorTerciario: white;
$mobile: 570px;
$tablet: 768px;
$desktop: 1024px;
$fonttitulo: copse;


<style>
        @import url('https://fonts.googleapis.com/css2?family=Copse&display=swap');
      </style>

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
)
