/*variables*/

$colorPrincipal: #a385bd;
$colorSecundario: #4e88be;
$coloralternativo: #f37449;
$coloropcional: rgb(204,166,154);
$colorTexto: white;
$mobile: 570px;
$tablet: 768px;
$desktop: 1024px;
$fonttitulo: Arial, Helvetica, sans-serif;
$fontalternativa: 'Palanquin Dark', sans-serif;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
)