
@import 'vars';
@import 'header';
@import 'footer';
@import 'mixin';
@import url('https://fonts.googleapis.com/css2?family=Copse&family=MuseoModerno:wght@500&family=Palanquin+Dark&family=Secular+One&display=swap');
@media 
  (min-width: $mobile)
  {
    header {
color: $colorPrincipal;
    }
  }


/*inicio*/ 

#grilla {
    display: grid;
    grid-template-areas: 
    "header header header"
    "main imagen section"
    "footer footer footer";
    height: 100vh;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 40% 80% 20%;
}
body {
    margin: 0%;
}

main {
    grid-area: main;

    .intro1 {
   font-size: 100px;
    font-family: $fontalternativa;
    padding: 90px 40px 20px 40px;
    line-height: 90px;
    }
    .intro2 {
        font-style: oblique;
        font-size: medium;
        padding: 10px 40px 20px 40px;
        font-weight: lighter;
        font-family: Helvetica, sans-serif;
    }
    @media 
  (min-width: $mobile)
  {
    header {
color: $colorPrincipal;
    }
  }
}

#section {
    grid-area: section;
    background-color: $colorSecundario;
    padding-left:40px;
.texto { 
    padding: 30px 20px 42px 20px;
    color: white;
    width: fit-content;
    .intro3 {
        font-family: $fonttitulo;
        color: white;
        padding: 10px;
        height: fit-content;
        text-align: center;
    }
    .intro4 {
        font-family: sans-serif;
        width: auto;
        display: inline-flex;
        text-align: justify;
    }
    .link {
        text-decoration: none; 
        color: white; 
        font-family: Helvetica;
    }
}
@media 
  (min-width: $mobile)
  {
    header {
color: $colorPrincipal;
    }
  }
}

#imagen {
    grid-area: imagen;
    width: fit-content;
    }




/*nosotros*/ 

#grilla-nosotros {
    display: grid;
    height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 110% 30%;
    grid-template-areas: 
    "header header"
    "main main" 
    "footer footer";}


#nosotros {
    background-color: $colorPrincipal;

    .estudio {
    width: 100%;
    padding: 1% 30% 1% 30%;
    color: black;
       border-radius: 6px;
       cursor: pointer;
       text-align: justify;
       transition-property: border-radius;
       transition-duration: 1s;
       transition-timing-function: linear;
    
    .estudio:hover {
       border-radius: 30%;
       background-color: $colorSecundario;
     }


    .titulon {
        font-family: $fontalternativa;
        color: white;
        font-size: 40px;
        margin-bottom: 2%;
        text-align: center;
    }

.frase {
        font-style: oblique;
        font-size: 20px;
        margin-top: 0%;
        margin-left: 103px;
        padding: 8px;
        text-align: center;
        text-align: justify;
        color: #5e866d;
    }
.texton {
        font-family: sans-serif;
        font-weight: 100;
        font-size: medium;
        width: 100%;
        height: 20%; 
        padding: 8px;
        text-align: center; 
    }
    p {
        justify-content: center;
        text-align: justify;
    }
}

@media 
  (min-width: $mobile)
  {
    header {
color: $colorPrincipal;
    }
  }
}



/*Servicios*/ 

#grilla-servicios {
    display: grid;
    height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 160% 20%;
    grid-template-areas: 
    "header header"
    "main main" 
    "footer footer";}

#Productos {
    background: linear-gradient(90deg, rgba(243,116,73,1) 26%, rgba(163,133,189,1) 58%, rgba(78,136,190,1) 100%);
   .Servicios {
 text-align: center;
 color: white;
 padding: 20px;
        
 .titulo1 {
  font-family:$fonttitulo;
 font-weight: 400; }
 .titulo2 {
   font-size: large;
  font-style: oblique;
 }
   }
}
   .imagenes-servicios {
    max-width: max-content;
    flex-direction: row;
    align-items: center;
    padding-left: 100px;
    border-color: $coloropcional;

    .img-fluid {
        height: 238px;
        border: #9ACD32;
        padding: 22px;
        align-items: center;
        justify-content: space-evenly;
        display: inline-flex;
    }
    @media 
  (min-width: $mobile)
  {
    header {
color: $colorPrincipal;
    }
}
   }



    /*proyectos*/ 
#grilla-proyectos {
    display: grid;
    height: 100vh;
    grid-template-rows: 40% 160% 20%;
    grid-template-columns: 70% 20%;
    grid-template-areas: 
    "header header"
    "main main"
    "carousel section" 
    "footer footer";
}

    #proyectos {
    font-family: $fontalternativa;
    align-items: center;
    font-size: medium;
    text-align: center;
    color: black;
    background-color: $coloropcional;
    padding: 20px;

}
    .carouselslide {
        width: auto;
        grid-area: carousel;
        width: 1000px;
      }


/*contacto*/ 

#grillacontacto {
    display: grid;
    height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 100% 20%;
    grid-template-areas: 
    "header header"
    "main formulario" 
    "footer footer";
}

.contacto {
    background-color: $colorSecundario;
    padding-left: 40px;
    padding-top: 20px;
    color: white;
 
    h1 {
    font-size: larger;
padding-top: 20px;
    }

    h2 {
font-size: medium;
font-variant: all-small-caps;
text-decoration: overline;
color: white;
padding-bottom: 10px
}
}

.formulario {
    grid-area: formulario;
    padding-left: 40px;
    padding-top: 20px;
    width: fit-content;

    h2 {
        padding-top: 20px;
        font-size: large;
        padding-left: 17px;
        color: #5e866d;
        padding-bottom: 20px;
    
    }
    .mail {
        @include formulario;
    }
    .mensaje {
        @include formulario;
    }
    
    .asunto {
        @include formulario;
    }
    
    .Nombre {
        @include formulario;
    }
.btnenviar {
        padding-left: 20px;
        padding-bottom: 10px;
        width: 150px;
}
}