/*variables*/
/*header*/
/*variables*/
@import url("https://fonts.googleapis.com/css2?family=Copse&family=MuseoModerno:wght@500&family=Palanquin+Dark&family=Secular+One&display=swap");
header {
  background-color: #a385bd;
  padding: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0%;
  grid-area: header;
  width: 100%;
}
header .menu ul {
  display: flex;
  list-style: none;
  gap: 50px;
  width: 100%;
}
header .menu ul li a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
header .menu ul .logo {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  height: 20px;
}

/*variables*/
/*Footer*/
footer {
  width: 100%;
  grid-area: footer;
  padding: auto;
  padding-left: 10%;
  align-items: flex;
  background-color: #f37449;
}
footer h3 {
  font-size: larger;
  padding-top: 20px;
}
footer .redes {
  font-style: italic;
  font-family: sans-serif;
  font-size: medium;
}
footer .logofinal {
  height: 5px;
}
footer .legales {
  font-size: small;
  background-color: white;
}

@media (min-width: 570px) {
  header {
    color: #a385bd;
  }
}
/*inicio*/
#grilla {
  display: grid;
  grid-template-areas: "header header header" "main imagenes section" "footer footer footer";
  height: 100vh;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 230px 964px 160px;
}

body {
  margin: 0%;
}

main {
  grid-area: main;
}
main .intro1 {
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 90px 40px 20px 20px;
  line-height: 90px;
}
main .intro2 {
  font-style: oblique;
  font-size: medium;
  padding: 10px 40px 20px 20px;
  font-weight: lighter;
  font-family: Helvetica, sans-serif;
}

#section {
  grid-area: section;
  background-color: #4e88be;
  padding-left: 40px;
}
#section .texto {
  padding: 30px 20px 20px 20px;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
}
#section .texto .intro3 {
  font-family: sans-serif;
  color: white;
  padding: 10px;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}
#section .texto .intro4 {
  font-family: sans-serif;
  width: auto;
  display: inline-flex;
  text-align: justify;
}
#section .texto .link {
  text-decoration: none;
  color: white;
  font-family: Helvetica;
}

#imagenes {
  grid-area: imagenes;
  width: -moz-fit-content;
  width: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}

/*nosotros*/
#grilla-nosotros {
  display: grid;
  height: 100vh;
  grid-template-columns: 50% 50%;
  grid-template-rows: 230px 200px 500px 160px;
  grid-template-areas: "header header" "main main" "section section" "footer footer";
}

main .nosotris {
  grid-area: main;
  margin: 0%;
  background: linear-gradient(45deg, #f37449, #9ACD32);
}
main .nosotris .estudio {
  width: 100%;
  background: white;
  align-items: center;
  justify-content: center;
  margin-top: 0%;
}
main .nosotris .estudio .titulon {
  font-family: Arial, Helvetica, sans-serif;
  font-variant: normal;
  color: #f37449;
  width: -moz-max-content;
  width: max-content;
  font-size: 50px;
  margin-bottom: 0%;
}
main .nosotris .estudio .frase {
  color: #f37449;
  font-style: oblique;
  font-size: 30px;
  margin-top: 0%;
  margin-left: 160px;
}
main .nosotris .estudio .texton {
  color: black;
  font-family: sans-serif;
  font-weight: 100;
  font-size: medium;
  width: 626px;
  height: 80px;
}
main .nosotris .informacion {
  align-items: flex;
  font-size: medium;
  color: black;
  align-content: center;
  justify-content: center;
  font-family: "Palanquin Dark", sans-serif;
}

/*Servicios*/
#Productos {
  background-color: #5e866d;
}
#Productos .Servicios {
  font-family: sans-serif;
  color: white;
  flex-direction: row;
  margin-left: 300px;
  padding: 1%;
  width: 100%;
}
#Productos .Servicios .titulo1 {
  font-family: copse;
  font-weight: 400;
}
#Productos .Servicios .titulo2 {
  font-size: large;
  font-style: oblique;
}

/*proyectos*/
.imagenes-proyecto {
  max-width: -moz-max-content;
  max-width: max-content;
}

/*contacto*/
#grillacontacto {
  display: grid;
  height: 100vh;
  grid-template-columns: 50% 50%;
  grid-template-rows: 230px 460px 160px;
  grid-template-areas: "header header" "main formulario" "footer footer";
}

.contacto {
  background-color: #4e88be;
  padding-left: 40px;
  padding-top: 20px;
  color: white;
}
.contacto h1 {
  font-size: larger;
  padding-top: 20px;
}
.contacto h2 {
  font-size: medium;
  font-variant: all-small-caps;
  text-decoration: overline;
  color: white;
  padding-bottom: 10px;
}

.formulario {
  grid-area: formulario;
  padding-left: 40px;
  padding-top: 20px;
}
.formulario h2 {
  padding-top: 20px;
  font-size: large;
  padding-left: 17px;
  color: #5e866d;
  padding-bottom: 20px;
}
.formulario .mail {
  padding-left: 20px;
  padding-bottom: 10px;
  width: 500px;
}
.formulario .mensaje {
  padding-left: 20px;
  padding-bottom: 10px;
  width: 500px;
}
.formulario .asunto {
  padding-left: 20px;
  padding-bottom: 10px;
  width: 500px;
}
.formulario .Nombre {
  padding-left: 20px;
  padding-bottom: 10px;
  width: 500px;
}/*# sourceMappingURL=style.css.map */